* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

body {
    height: 100vh;
    width: 100%;


}

.container {
    width: 70%;
    height: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.img-main {
    height: 400px;
    width: 500px
}

.list-img {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor:pointer;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    margin: 5px;
    border: 2px solid #fff;
    z-index: -1;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #000;
    cursor: pointer;
}

.prev {
    left : 15px;
}

.next {
    right: 15px;
}

.active {
    border-color: aqua;
}