* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.alert {
    background-color: white;
    color:aquamarine;
    padding: 20px 40px;
    font-size: 40px;
    
    border: none;
    outline:none;
    border-radius: 12px;
}


.result {
    width: 250px;
    height: 250px;
    border: 12px solid  white;
    border-radius: 50%;
    text-align: center;
    font-size: 75px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 70px;

}
.detail {
    display: flex;
   
}
 .card {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 0 20px;
}
.card p{
    padding: 20px 40px;
    background-color: white;
    font-size: 35px;
    color : black;
    
    text-align: center;
    font-weight: 600;
}
.card p:first-child {
    color : white;
    background-color: aqua;
}


.hidden {
    display: none;
}